.checkout__banner{
    width: 100%;
    margin-bottom:15px;
}

.checkout__Title{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout{
    background-color: white ;
    display: flex;
    padding: 20px;
    height: max-content;
}