.wishlistProduct{
    display:flex;
}

.wishlistProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.wishlistProduct__info{
    padding-left: 20px;
}

.wishlistProduct__info > button {
    background: #f0c14a;
    margin-right: 20px;
}

.wishlistProduct__rating{
    display:flex;
}

.wishlistProduct__title{
    font-size: 18px;
    font-weight: 800;
}