.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0 ;
    z-index: 100;
}

.header__logo {
    width: 70px;
    margin: 4px 4px 0px 4px;
    object-fit: contain;
}

.header__search{
    display:flex;
    flex: 1;
    margin-right: 10px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width:100%;
    border-radius: 1px;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #FFC038;
    border-radius: 1px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLine1{
    font-size: 10px;
}

.header__optionLine2{
    font-size:13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;

}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}